<div class="sign-in-message aui-message aui-message-warning">
    <p class="title">
        <strong>Please sign in to your Google Account.</strong>
    </p>
    <p>You have to sign in to view Google Drive document.</p>
    <p><button class="aui-button aui-button-primary sign-in-btn">Sign In</button></p>
</div>